.box {
    width: 150px;
    height: 150px;
    background-color: #79797f;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.box:hover {
    width: 150px;
    background-color: #e84610;
    transition-property: background-color;
    transition-duration: 1s;
}